.App {
  text-align: center;
  background-color: rgb(200, 243, 228);
margin: 0;
}
.searchform
{
  
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar
{
   width: 50%;
   border-radius: 20px;
   padding: 10px;
}

.search-button
{
  background-color: rgb(202, 242, 242);
  padding: 8px;
  border-radius: 20px;
  
}
.recipes
{
  min-width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

 